a:hover{text-decoration:none;}

.left{float:left;}
.right{float:right;}
.center{margin:0 auto;}
.clear{clear:both;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.bold{font-weight:bold;}

html,body{height:100%;width:100%;margin:0;padding:0;}
body{background:url('../i/bonus-grey.png') repeat;}

	.page{min-width:980px;max-width:1260px;min-height:100%;margin:0 auto;background:#fff;}

header{width:100%;}
	.header-toolbar{height:37px;background:#f3f3f3;position:fixed;z-index:2;width:100%;min-width:980px;max-width:1260px;font:11px/35px Arial,Helvetica,sans-serif;}
		.header-toolbar-project{height:inherit;width:205px;float:left;margin-left:10px;}
			.toolbar-project-a{margin-left:12px;}
		.header-toolbar-user{float:left;overflow:hidden;height:inherit;padding-left:10px;}
			.toolbar-user-button{padding:4px 6px 4px 30px;text-decoration:none;color:#e06d06;}
			.toolbar-user-notice{background:#f7e8da url('../i/toolbar-notice.png') no-repeat left center;}
			.toolbar-user-favorite{background:#f7e8da url('../i/toolbar-favorite.png') no-repeat left center;margin-left:12px;}
				.user-favorite-number{color:#999;}
			.toolbar-user-search{background:#f7e8da url('../i/toolbar-search.png') no-repeat left center;margin-left:12px;}
			.toolbar-user-input{color:#e06d06;text-decoration:underline;margin-left:12px;}
		.header-toolbar-language{float:right;height:inherit;padding-right:10px;}
			.header-toolbar-language img{border:0;}
			.header-toolbar-language a{border:0;text-decoration:none;outline:none;}
			.toolbar-language-caption{background:url('../i/language-underline.png') repeat-x left 12px;}
			.toolbar-language-arrow{padding:0 2px;}
			.toolbar-language-flag{}
	.header-main{margin:47px 10px 0 10px;}
		.header-main-logo{width:205px;float:left;}
			.main-logo-block{}
				.main-logo-image{text-decoration:none;background:url('../i/logo.png') no-repeat;width:205px;height:128px;display:block;text-indent:-9000px;}
			.main-logo-profile{background:#f6f6f6;padding:7px 0 10px 10px;margin-top:2px;overflow:hidden;}
				.logo-profile-frame{position:absolute;width:46px;height:46px;background:url('../i/profile-frame.png') no-repeat;display:block;}
				.logo-profile-avatar{float:left;}
				.main-logo-record{width:140px;float:right;font:11px/14px Arial,Helvetica,sans-serif;color:#999;margin-bottom:1px;}
		.header-main-slider{height:192px;margin-left:215px;overflow:hidden;position:relative;}
			.header-main-slider img{position:absolute;}
nav{height:47px;padding:0 10px;margin-top:4px;}
	.nav-news{float:left;width:205px;height:inherit;background:#f3e68c url('../i/nav-news.png') no-repeat;}
		.nav-news-link{display:block;height:inherit;border:none;font:11px/47px Arial,Helvetica,sans-serif;color:#e06d06;padding-left:75px;}
		.nav-menu{border-top:4px solid #ffcc00;border-bottom:4px solid #ffcc00;margin-left:215px;}
			.nav-menu-ul{list-style:none;padding:0;margin:9px 0 8px;}
			.nav-menu-li{display:inline;padding:2px 16px 1px 0;}
			.nav-menu-li:last-child{padding-right:0;}
				.menu-li-link{font:bold 18px/21px Arial,Helvetica,sans-serif;color:#e06d06;text-decoration:none;}
				.menu-li-link:hover{text-decoration:underline;}

aside{float:left;width:205px;margin:10px 10px 100px;}
	.aside-h3{font:bold 16px/19px Arial,Helvetica,sans-serif;padding:10px;margin:0;border-bottom:1px solid #c6c6c6;}
	.aside-ul{list-style:none;margin:0;padding:0;}
	.aside-li{padding:5px 10px;font:11px/14px Arial,Helvetica,sans-serif;color:#999;border-top:1px solid #efefef;}
	.aside-li:first-child{border:none;}
	.aside-li-a{text-decoration:none;color:#e06d06;font:13px/14px Arial,Helvetica,sans-serif;}
	.aside-li-a:hover{text-decoration:underline;}
	.aside-li-figure{float:left;text-decoration:none;color:#000;font:13px/14px Arial,Helvetica,sans-serif;}
	.aside-statistic{oveflow:hidden;}
		.aside-statistic-colomn{width:49%;float:left;text-align:center;}
		
section{margin:0 0 100px 206px;overflow:hidden;padding-right:10px;}
	.section-text{margin:10px 0 8px;font:13px/18px Arial,Helvetica,sans-serif;}
		.section-text-link{color:#318cc6;}
	.section-h3{font:bold 22px Arial,Helvetica,sans-serif;margin:0;}
	.section-counter{float:left;font:9px Arial,Helvetica,sans-serif;color:#999;margin:12px 0 0 3px;}
	
	.section-country{width:180px;float:right;}
		.section-country-h3{font:bold 14px/38px Arial,Helvetica,sans-serif;padding-left:10px;margin:0 0 3px;border-bottom:1px solid #c6c6c6;border-top:1px solid #c6c6c6;}
		.section-country-ul{list-style:none;margin:0;padding:0;}
		.section-country-li{padding:4px 0 3px 10px;font:10px/17px Arial,Helvetica,sans-serif;color:#999;}
			.section-li-a{text-decoration:none;color:#e06d06;font:14px Arial,Helvetica,sans-serif;}
			.section-li-a:hover{text-decoration:underline;}
	.section-content{margin-right:190px;overflow:hidden;width:inherit;}
		.section-content-element{overflow:hidden;width:32.66%;background:url('../i/element-background.png') repeat;float:left;margin:0 1% 1% 0;}
		.section-content-element:nth-child(3n){margin-right:0;}
			.content-element-number{font:bold 20px Arial,Helvetica,sans-serif;padding:8px 0 0 10px;}
			.content-element-name{font:12px Arial,Helvetica,sans-serif;padding:0 10px 3px;height:27px;}
			.content-element-image{overflow:hidden;height:160px;}
			.content-element-button{color:#fff;font:bold 10px Arial,Helvetica,sans-serif;text-transform:uppercase;background:#e06d06;padding:5px 10px;margin:11px 0 11px 15px;width:85px;height:23px;border:none;cursor:pointer;}
		.section-content-review{overflow:hidden;}
			.review-element{border:1px solid #e9e9e9;border-bottom:none;overflow:hidden;padding:0 14px 1px;}
				.review-element-header{padding:7px 0;overflow:hidden;border-bottom:1px solid #e9e9e9;}
					.element-header-status{float:left;padding:3px 0;overflow:hidden;}
						.header-status-name{float:left;overflow:hidden;background:#c53730;color:#fff;padding:0 8px;font:bold 11px/24px Arial;}
						.name-red{background:#c53730;}
						.name-green{background:#00a551;}
						.header-status-info{float:right;overflow:hidden;padding:0 10px;height:22px;font:bold 11px/22px Arial,Helvetica,sans-serif;}
						.info-red{border:1px solid #c53730;color:#c53730;}
						.info-green{border:1px solid #00a551;color:#00a551;}
					.element-header-icon{margin:5px 0 0 10px;}
					.element-header-user{float:right;min-width:160px;overflow:hidden;}
						.header-user-avatar{width:24px;padding-top:6px;float:right;}
							.header-user-img{width:24px;height:24px;}
						.header-user-name{text-align:right;margin-right:24px;height:19px;}
							.user-name-link{font:11px Arial,Helvetica,sans-serif;color:#666;padding:0 8px 0 0;margin:0;}
						.header-user-date{font:11px Arial,Helvetica,sans-serif;text-transform:lowercase;color:#bbb;text-align:right;float:right;padding:0 8px 0 0;}
				.review-element-body{overflow:hidden;font:12px/18px Arial,Helvetica,sans-serif;padding:5px 0 10px;}
					.element-body-text{padding:0;margin:0 0 5px 0;}
						.body-text-link{color:#666;}
					.element-body-recomended{padding-right:14px;margin:10px 0;background:url('../i/catalogs-per.png') no-repeat right center;color:green;display:inline-block;}
					.element-body-status{color:#000;margin:0;font:bold 12px/18px Arial,Helvetica,sans-serif;}
			.review-all-compliment{border:1px solid #e9e9e9;padding:10px 14px;}
				.review-all-link{color:#c83831;text-decoration:none;font:bold 13px Arial,Helvetica,sans-serif;}
				.review-all-link:hover{text-decoration:underline;}
		.section-content-bounty{overflow:hidden;}
			.section-content-bounty a{text-decoration:none;}
			.section-content-bounty a:hover{text-decoration:underline;}
			
			.bounty-element{overflow:hidden;width:32.66%;background:#f3f3f3;float:left;margin:0 1% 1% 0;}
			.bounty-element:nth-child(3n){margin-right:0;}
				.bounty-element-title{font:bold 14px Arial,Helvetica,sans-serif;height:20px;overflow:hidden;padding:12px 12px 0 12px;}
					.element-title-link{color:#000;}
				.bounty-element-location{padding:0 12px;}
					.element-location-link{color:#999;font:11px Arial,Helvetica,sans-serif;}
				.bounty-element-top10{font:bold 12px Arial,Helvetica,sans-serif;padding:4px 0 0 12px;color:#53A355;}
				.bounty-element-image{height:110px;margin-top:12px;position:relative;overflow:hidden;}
					.element-image-background{position:absolute;top:-25%;left:5%;overflow:hidden;margin:0 auto;width:90%;}
					.element-image-window{height:53px;width:100px;top:23px;position:relative;background:url('../i/bg-fff-o70.png') repeat;padding:12px 20px 0;}
						.image-window-value{float:left;font:bold 24px/24px Arial,Helvetica,sans-serif;color:#E06D06;padding:0 4px 0 10px;}
						.image-window-arrow{color:#53A355;font:30px/24px Arial,Helvetica,sans-serif;float:left;}
						.image-window-text{color:#E06D06;font:12px Arial,Helvetica,sans-serif;padding-left:20px;}
				.bounty-element-list{overflow:hidden;margin:12px 0 0 12px;height:70px;}
					.bounty-list-ul{list-style:none;padding:0 0 7px 0;margin:0;}
					.bounty-list-title{font:bold 12px Arial,Helvetica,sans-serif;}
					.bounty-list-li{font:12px Arial,Helvetica,sans-serif;max-height:18px;overflow:hidden;}
						.list-li-link{color:#000;}
				.bounty-element-bonus{font:bold 12px Arial,Helvetica,sans-serif;margin-left:12px;}
					.element-bonus-link{color:#000;}
				.bounty-element-footer{padding:12px;}
					.element-footer-button{cursor:pointer;border:none;color:#fff;font:bold 11px/28px Arial,Helvetica,sans-serif;height:28px;background:#E06D06 url('../i/compliment-btn.png') no-repeat right;padding-right:19px;width:100%;text-transform:uppercase;}
			.all-element-link{color:#E06D06;font:12px Arial,Helvetica,sans-serif;}
footer{height:110px;min-width:980px;max-width:1260px;margin:-100px auto 0;background:#fff;font:11px Arial;}
	.footer-line{width:98%;border:2px solid #e6e6e6;}
	.footer-copyright{margin:0 10px 0 21px;color:#bbb;padding-top:9px;}
	.footer-menu{overflow:hidden;margin-left:21px;}
		.footer-menu-ul{padding:0 0 7px 0;list-style:none;margin:8px 0 0 0;}
			.footer-menu-li{float:left;background:url('../i/footer-hb-ul-li.png') no-repeat 0 7px;padding:0 7px 0 12px;}
			.footer-menu-li:first-child{background:none;padding:0 7px 0 0;}
				.footer-menu-link{color:#e06d06;text-decoration:none;}
				.footer-menu-link:hover{text-decoration:underline;}
	.footer-text{margin:7px 0 0 21px;color:#bbb;}