.m0{margin:0;}
.m0t{margin-top:0;}
.m0r{margin-right:0;}
.m0b{margin-bottom:0;}
.m0l{margin-left:0;}

.m1{margin:1px;}
.m1t{margin-top:1px;}
.m1r{margin-right:1px;}
.m1b{margin-bottom:1px;}
.m1l{margin-left:1px;}

.m2{margin:2px;}
.m2t{margin-top:2px;}
.m2r{margin-right:2px;}
.m2b{margin-bottom:2px;}
.m2l{margin-left:2px;}

.m3{margin:3px;}
.m3t{margin-top:3px;}
.m3r{margin-right:3px;}
.m3b{margin-bottom:3px;}
.m3l{margin-left:3px;}

.m4{margin:4px;}
.m4t{margin-top:4px;}
.m4r{margin-right:4px;}
.m4b{margin-bottom:4px;}
.m4l{margin-left:4px;}

.m5{margin:5px;}
.m5t{margin-top:5px;}
.m5r{margin-right:5px;}
.m5b{margin-bottom:5px;}
.m5l{margin-left:5px;}

.m6{margin:6px;}
.m6t{margin-top:6px;}
.m6r{margin-right:6px;}
.m6b{margin-bottom:6px;}
.m6l{margin-left:6px;}

.m7{margin:7px;}
.m7t{margin-top:7px;}
.m7r{margin-right:7px;}
.m7b{margin-bottom:7px;}
.m7l{margin-left:7px;}

.m8{margin:8px;}
.m8t{margin-top:8px;}
.m8r{margin-right:8px;}
.m8b{margin-bottom:8px;}
.m8l{margin-left:8px;}

.m9{margin:9px;}
.m9t{margin-top:9px;}
.m9r{margin-right:9px;}
.m9b{margin-bottom:9px;}
.m9l{margin-left:9px;}

.m10{margin:10px;}
.m10t{margin-top:10px;}
.m10r{margin-right:10px;}
.m10b{margin-bottom:10px;}
.m10l{margin-left:10px;}

.m12{margin:12px;}
.m12t{margin-top:12px;}
.m12r{margin-right:12px;}
.m12b{margin-bottom:12px;}
.m12l{margin-left:12px;}

.m13{margin:13px;}
.m13t{margin-top:13px;}
.m13r{margin-right:13px;}
.m13b{margin-bottom:13px;}
.m13l{margin-left:13px;}

.m15{margin:15px;}
.m15t{margin-top:15px;}
.m15r{margin-right:15px;}
.m15b{margin-bottom:15px;}
.m15l{margin-left:15px;}

.m20{margin:20px;}
.m20t{margin-top:20px;}
.m20r{margin-right:20px;}
.m20b{margin-bottom:20px;}
.m20l{margin-left:20px;}

.m22{margin:22px;}
.m22t{margin-top:22px;}
.m22r{margin-right:22px;}
.m22b{margin-bottom:22px;}
.m22l{margin-left:22px;}

.m25{margin:25px;}
.m25t{margin-top:25px;}
.m25r{margin-right:25px;}
.m25b{margin-bottom:25px;}
.m25l{margin-left:25px;}